<h2><%= @chatroom.chat_room_name %></h2>

<div id = "messages">
   <% @room_messages.each do |c| %>
      <%= c.user.nickname %> says: <%= c.contents %>
   <% end %>
</div>

<%= form_for :session, url: "/chatrooms/CS1530" do |form| %>
  <%= form.text_field :contents, type: 'contents', placeholder: "Message", class: 'input-field'%>

  <%= form.submit 'Send', :class => 'submit-button' %>
<% end %>
