<h2 id = "header"><%= @chatroom.chat_room_name %></h2>
<%= hidden_field_tag "chat_room_name", @chatroom.chat_room_name, { :id => "chat_room_name" } %>



<div id = "messages">
  <%= render @chatroom.messages %>
</div>

<!-- might need to be form_with -->
<%= form_with url: "/chatrooms/CS1530", html: {id: 'new-message'} do |form| %>
  <%= form.text_area :contents, type: 'contents', placeholder: "Message", class: 'input-field', id: 'contents' %>

  <%= form.submit 'Send', :class => 'submit-button' %>
<% end %>
